<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="foam.uavtoolkit"
      android:versionCode="3"
      android:versionName="0.3">
  <application android:label="@string/app_name"
               android:icon="@drawable/logo"
               android:theme="@style/StarwispTheme"
               android:hardwareAccelerated="true"
               >

    <activity android:name="foam.uavtoolkit.starwisp"
              android:configChanges="orientation"
              android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="foam.uavtoolkit.MainActivity" android:configChanges="orientation"></activity>
    <activity android:name="foam.uavtoolkit.SensorActivity" android:configChanges="orientation"></activity>
    <activity android:name="foam.uavtoolkit.CameraActivity" android:configChanges="orientation"></activity>
    <activity android:name="foam.uavtoolkit.VPTestActivity" android:configChanges="orientation"></activity>
    <activity android:name="foam.uavtoolkit.LockActivity" android:configChanges="orientation"></activity>
    <activity android:name="foam.uavtoolkit.ReviewActivity" android:configChanges="orientation"></activity>
    <activity android:name="foam.uavtoolkit.ReviewItemActivity" android:configChanges="orientation"></activity>

  </application>

  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-sdk android:minSdkVersion="8" />
  <uses-feature android:name="android.hardware.camera" android:required="true" />

  <supports-screens
      android:smallScreens="true"
      android:normalScreens="true"
      android:largeScreens="true"
      android:xlargeScreens="true"
      android:anyDensity="true" />

</manifest>
